Repository COS301-SE-2024/WorkWise-Central, pull requests merged in 2024-07, with the labels that each got.

#187 Chore/company endpoint updates
  src/api-gateway/src/client/client.module.ts
  src/api-gateway/src/client/entities/client.entity.ts
  src/api-gateway/src/company/company.controller.ts
  src/api-gateway/src/company/company.module.ts
  src/api-gateway/src/company/company.service.ts
  src/api-gateway/src/company/dto/create-company.dto.ts
  src/api-gateway/src/company/entities/company.entity.ts
  src/api-gateway/src/email/email.service.ts
  src/api-gateway/src/employee/employee.service.ts
  src/api-gateway/src/job/dto/create-job.dto.ts
  src/api-gateway/src/job/entities/job.entity.ts
  src/api-gateway/src/job/job.controller.ts
  src/api-gateway/src/main.ts
  src/api-gateway/src/role/role.service.ts
  src/api-gateway/src/users/dto/create-user.dto.ts
  src/api-gateway/src/users/entities/user-confirmation.entity.ts
  src/api-gateway/src/users/entities/user.entity.ts
  src/api-gateway/src/users/tests/users.controller.spec.ts
  src/api-gateway/src/users/tests/users.service.spec.ts
  src/api-gateway/src/users/users.controller.ts
  src/api-gateway/src/users/users.repository.ts
  src/api-gateway/src/users/users.service.ts
  src/api-gateway/src/utils/Custom Decorators/PasswordRules.ts
Labels: Documentation, Enhancement, backend

#227 Feature/client employee view
  src/frontend/cypress/support/index.ts
  src/frontend/src/components/home/clients/management/ClientDesk.vue
  src/frontend/src/components/home/clients/management/ClientDetails.vue
  src/frontend/src/components/home/clients/management/DeleteClient.vue
  src/frontend/src/components/home/clients/management/EditClient.vue
  src/frontend/src/components/home/jobs/management/JobChecklist.vue
  src/frontend/src/components/home/jobs/management/JobLabels.vue
  src/frontend/src/components/home/jobs/management/TeamMemberList.vue
  src/frontend/src/components/signup/JoinCompanyModal.vue
  src/frontend/src/components/signup/RegisterCompanyModal.vue
  src/frontend/src/components/signup/SplashScreen.vue
  src/frontend/vite.config.ts
Labels: Enhancement, feature, frontend

#194 chore: Adds name and surname back to Client
  src/api-gateway/src/client/dto/create-client.dto.ts
  src/api-gateway/src/client/dto/update-client.dto.ts
  src/api-gateway/src/client/entities/client.entity.ts
Labels: backend

#228 Chore/correcting company
  src/api-gateway/src/client/client.module.ts
  src/api-gateway/src/company/company.module.ts
  src/api-gateway/src/company/company.repository.ts
  src/api-gateway/src/company/company.service.ts
  src/api-gateway/src/company/dto/create-company.dto.ts
  src/api-gateway/src/employee/employee.service.ts
  src/api-gateway/src/job/dto/create-job.dto.ts
  src/api-gateway/src/job/entities/job.entity.ts
  src/api-gateway/src/job/job.controller.ts
  src/api-gateway/src/job/job.service.ts
  src/api-gateway/src/users/dto/update-user.dto.ts
  src/api-gateway/src/users/entities/user.entity.ts
  src/api-gateway/src/users/users.module.ts
  src/api-gateway/src/users/users.service.ts
Labels: backend

#230 Feature/client employee view
  src/frontend/src/components/home/clients/management/AddClient.vue
  src/frontend/src/components/home/clients/management/ClientDesk.vue
  src/frontend/src/components/home/clients/management/ClientDetails.vue
  src/frontend/src/components/home/clients/management/DeleteClient.vue
  src/frontend/src/components/home/clients/management/EditClient.vue
  src/frontend/src/components/signup/JoinCompanyModal.vue
  src/frontend/src/components/signup/RegisterCompanyModal.vue
Labels: Enhancement, feature, frontend

#232 refactor: styling changes to the client desk and navigation bar
  src/frontend/src/components/home/NavigationBar.vue
  src/frontend/src/components/home/clients/management/ClientDesk.vue
  src/frontend/src/components/home/clients/management/DeleteClient.vue
  src/frontend/src/components/signup/JoinCompanyModal.vue
  src/frontend/src/components/signup/RegisterCompanyModal.vue
  src/frontend/src/components/signup/SplashScreen.vue
Labels: Enhancement, feature, frontend

#234 Chore/correcting company v2
  src/api-gateway/src/auth/auth.controller.ts
  src/api-gateway/src/auth/entities/validationResult.entity.ts
  src/api-gateway/src/client/client.repository.ts
  src/api-gateway/src/client/client.service.ts
  src/api-gateway/src/company/company.controller.ts
  src/api-gateway/src/company/company.repository.ts
  src/api-gateway/src/company/company.service.ts
  src/api-gateway/src/company/dto/add-user-to-company.dto.ts
  src/api-gateway/src/company/dto/create-company.dto.ts
  src/api-gateway/src/company/dto/delete-employee-in-company.dto.ts
  src/api-gateway/src/company/entities/company.entity.ts
  src/api-gateway/src/employee/dto/create-employee.dto.ts
  src/api-gateway/src/employee/employee.service.ts
  src/api-gateway/src/job/job.repository.ts
  src/api-gateway/src/users/dto/update-user.dto.ts
  src/api-gateway/src/users/entities/user.entity.ts
  src/api-gateway/src/users/users.controller.ts
  src/api-gateway/src/users/users.repository.ts
  src/api-gateway/src/users/users.service.ts
Labels: Documentation, Enhancement, backend

#237 Feature/job assignment view2
  src/frontend/src/components/home/clients/__tests__/AddClient.cy.ts
  src/frontend/src/components/home/clients/__tests__/DeleteClient.cy.ts
  src/frontend/src/components/home/clients/management/ClientDesk.vue
  src/frontend/src/components/home/clients/management/DeleteClient.vue
  src/frontend/src/components/home/jobs/__tests__/JobCard.cy.ts
  src/frontend/src/components/home/jobs/management/JobAssignmentTable.vue
  src/frontend/src/components/home/jobs/management/JobCard.vue
  src/frontend/src/components/home/jobs/management/ManagerJobCard.vue
  src/frontend/src/components/signup/SplashScreen.vue
  src/frontend/src/router/index.ts
Labels: bug, Enhancement, feature, frontend

#238 Hotfix/company create v2
  src/api-gateway/src/auth/auth.service.ts
  src/api-gateway/src/company/company.service.ts
  src/api-gateway/src/company/dto/update-company.dto.ts
  src/api-gateway/src/company/entities/company.entity.ts
  src/api-gateway/src/job/job.repository.ts
  src/api-gateway/src/job/job.service.ts
Labels: bug

#239 Feature/client employee view
  src/frontend/cypress.config.ts
  src/frontend/cypress/support/index.ts
  src/frontend/package.json
  src/frontend/src/components/home/NavigationBar.vue
  src/frontend/src/components/home/clients/__tests__/AddClient.cy.ts
  src/frontend/src/components/home/clients/__tests__/ClientDesk.cy.ts
  src/frontend/src/components/home/clients/__tests__/ClientDetail.cy.ts
  src/frontend/src/components/home/clients/__tests__/DeleteClient.cy.ts
  src/frontend/src/components/home/clients/__tests__/EditClient.cy.ts
  src/frontend/src/components/home/clients/management/AddClient.vue
  src/frontend/src/components/home/clients/management/ClientDesk.vue
  src/frontend/src/components/home/clients/management/ClientDetails.vue
  src/frontend/src/components/home/clients/management/DeleteClient.vue
  src/frontend/src/components/home/clients/management/EditClient.vue
  src/frontend/src/components/home/settings/profile/ProfilePage.vue
  src/frontend/src/components/signup/SplashScreen.vue
  src/frontend/src/components/signup/__tests__/SplashScreen.cy.ts
  src/frontend/src/plugins/vuetify.ts
  src/frontend/src/router/index.ts
Labels: Enhancement, feature, frontend

#240 fix: Add to company fixed
  src/api-gateway/src/company/company.service.ts
Labels: bug

#241 fix: Add to company fixed once more
  src/api-gateway/src/company/company.service.ts
Labels: bug

#248 Feature/job assignment view2
  src/frontend/src/components/home/clients/__tests__/AddClient.cy.ts
  src/frontend/src/components/home/clients/__tests__/DeleteClient.cy.ts
  src/frontend/src/components/home/jobs/management/JobAssignmentTable.vue
  src/frontend/src/components/home/jobs/management/ManagerJobCard.vue
  src/frontend/src/components/home/settings/DarkModeToggle.vue
  src/frontend/src/components/signup/__tests__/SplashScreen.cy.ts
Labels: Enhancement, backend

#267 feat: Added primevue component library
  src/frontend/package.json
  src/frontend/src/components/home/jobs/management/JobAssignmentTable.vue
  src/frontend/src/main.ts
Labels: feature

#269 Feature/job assignment view2
  src/frontend/src/components/home/NavigationBar.vue
  src/frontend/src/components/home/jobs/management/JobAssignmentTable.vue
  src/frontend/src/components/home/jobs/management/ManagerJobCard.vue
Labels: frontend

#270 Refactor/employee
  src/api-gateway/src/company/company.service.ts
  src/api-gateway/src/employee/employee.repository.ts
  src/api-gateway/src/employee/employee.service.ts
  src/api-gateway/src/employee/entities/employee.entity.ts
  src/api-gateway/src/role/entity/role.entity.ts
  src/api-gateway/src/role/role.repository.ts
  src/api-gateway/src/role/role.service.ts
  src/api-gateway/src/team/team.repository.ts
  src/api-gateway/src/team/team.service.ts
Labels: backend

#268 Feature/client employee view
  src/frontend/img/WorkWise.png
  src/frontend/img/WorkWise2.png
  src/frontend/src/assets/styles.css
  src/frontend/src/components/home/NavigationBar.vue
  src/frontend/src/components/home/clients/management/AddClient.vue
  src/frontend/src/components/home/clients/management/ClientDesk.vue
  src/frontend/src/components/home/clients/management/ClientDetails.vue
  src/frontend/src/components/home/clients/management/DeleteClient.vue
  src/frontend/src/components/home/clients/management/EditClient.vue
  src/frontend/src/components/home/dashboard/home/DashboardScreen.vue
  src/frontend/src/components/signup/SplashScreen.vue
  src/frontend/src/main.ts
  src/frontend/src/plugins/vuetify.ts
Labels: Enhancement, feature, frontend

#285 Feature/update job endpoints
  src/api-gateway/.eslintrc.js
  src/api-gateway/src/client/client.controller.ts
  src/api-gateway/src/client/client.module.ts
  src/api-gateway/src/client/client.repository.ts
  src/api-gateway/src/client/client.service.ts
  src/api-gateway/src/client/dto/create-client.dto.ts
  src/api-gateway/src/client/dto/update-client.dto.ts
  src/api-gateway/src/client/entities/client.entity.ts
  src/api-gateway/src/company/company.controller.ts
  src/api-gateway/src/company/company.module.ts
  src/api-gateway/src/company/company.repository.ts
  src/api-gateway/src/company/company.service.ts
  src/api-gateway/src/company/dto/add-user-to-company.dto.ts
  src/api-gateway/src/company/dto/create-company.dto.ts
  src/api-gateway/src/company/entities/company.entity.ts
  src/api-gateway/src/employee/employee.service.ts
  src/api-gateway/src/employee/entities/employee.entity.ts
  src/api-gateway/src/job/dto/create-job.dto.ts
  src/api-gateway/src/job/dto/update-job.dto.ts
  src/api-gateway/src/job/entities/job.entity.ts
  src/api-gateway/src/job/job.controller.ts
  src/api-gateway/src/job/job.module.ts
  src/api-gateway/src/job/job.repository.ts
  src/api-gateway/src/job/job.service.ts
  src/api-gateway/src/main.ts
  src/api-gateway/src/notification/entities/notification.entity.ts
  src/api-gateway/src/role/dto/create-role.dto.ts
  src/api-gateway/src/role/role.service.ts
  src/api-gateway/src/users/dto/create-user.dto.ts
  src/api-gateway/src/users/entities/user.entity.ts
  src/api-gateway/src/users/tests/users.controller.spec.ts
  src/api-gateway/src/users/tests/users.service.spec.ts
  src/api-gateway/src/users/users.controller.ts
  src/api-gateway/src/users/users.module.ts
  src/api-gateway/src/users/users.repository.ts
  src/api-gateway/src/users/users.service.ts
  src/api-gateway/src/utils/Utils.ts
  src/docker-compose.yml
Labels: Documentation, Enhancement, feature, backend, devops

#284 Adding Overwritten Changes
  src/frontend/src/components/home/employees/management/EditEmployee.vue
  src/frontend/src/components/home/employees/management/ManageEmployeesT.vue
  src/frontend/src/components/home/employees/types.ts
  src/frontend/src/components/home/jobs/management/AddJob.vue
  src/frontend/src/components/home/jobs/types.ts
  src/frontend/src/components/signup/RegisterCompanyModal.vue
Labels: bug, feature, frontend

#279 Feature/client employee view
  src/frontend/img/WorkWise12.png
  src/frontend/src/components/home/NavigationBar.vue
  src/frontend/src/components/home/clients/management/ClientDesk.vue
  src/frontend/src/components/home/clients/management/ClientDetails.vue
  src/frontend/src/components/home/clients/management/DeleteClient.vue
  src/frontend/src/components/home/clients/management/EditClient.vue
  src/frontend/src/components/home/dashboard/home/DashboardScreen.vue
  src/frontend/src/components/home/settings/company/CompanyMain.vue
  src/frontend/src/components/home/settings/company/CompanySettings.vue
  src/frontend/src/components/signup/SplashScreen.vue
  src/frontend/src/plugins/vuetify.ts
Labels: Enhancement, feature, frontend

#271 Feature/job assignment view2
  src/frontend/src/components/home/NavigationBar.vue
Labels: Enhancement, frontend

#287 Feature/refactor frontend consistency
  src/frontend/package.json
  src/frontend/src/assets/styles.css
  src/frontend/src/components/home/NavigationBar.vue
  src/frontend/src/components/home/clients/management/AddClient.vue
  src/frontend/src/components/home/clients/management/ClientDesk.vue
  src/frontend/src/components/home/clients/management/DeleteClient.vue
  src/frontend/src/components/home/clients/management/EditClient.vue
  src/frontend/src/components/home/dashboard/home/DashboardScreen.vue
  src/frontend/src/components/home/employees/management/AddEmployee.vue
  src/frontend/src/components/home/employees/management/ManageEmployeesT.vue
  src/frontend/src/components/home/jobs/management/AddJob.vue
  src/frontend/src/components/home/jobs/management/JobAssignmentTable.vue
  src/frontend/src/components/home/jobs/management/ManagerJobCard.vue
  src/frontend/src/components/home/settings/company/CompanySettings.vue
  src/frontend/src/main.ts
  src/frontend/src/plugins/vuetify.ts
Labels: frontend

#289 Feature/job assignment view2
  src/frontend/src/components/home/jobs/management/JobAssignmentTable.vue
  src/frontend/src/components/home/jobs/management/ManagerJobCard.vue
  src/frontend/src/plugins/vuetify.ts
Labels: frontend

#291 Feature/job assignment view2
  src/frontend/src/components/home/NavigationBar.vue
  src/frontend/src/components/home/UserAvatar.vue
Labels: frontend

#292 Feature/client employee view
  src/frontend/src/components/home/clients/management/AddClient.vue
  src/frontend/src/components/home/clients/management/ClientDesk.vue
  src/frontend/src/components/home/clients/management/ClientDetails.vue
  src/frontend/src/components/home/clients/management/DeleteClient.vue
  src/frontend/src/components/home/clients/management/EditClient.vue
  src/frontend/src/components/home/dashboard/home/DashboardScreen.vue
  src/frontend/src/components/home/employees/management/ManageEmployeesT.vue
  src/frontend/src/components/home/settings/company/CompanyMain.vue
  src/frontend/src/components/home/settings/company/CompanySettings.vue
  src/frontend/src/components/home/settings/company/EditCompany.vue
  src/frontend/src/components/home/settings/company/EditRoles.vue
  src/frontend/src/components/home/settings/company/EditStructure.vue
  src/frontend/src/components/signup/JoinCompanyModal.vue
  src/frontend/src/components/signup/RegisterCompanyModal.vue
  src/frontend/src/components/signup/SplashScreen.vue
  src/frontend/src/plugins/vuetify.ts
Labels: Enhancement, feature, frontend

#290 Refactor/job objectids
  src/api-gateway/src/company/company.controller.ts
  src/api-gateway/src/company/company.repository.ts
  src/api-gateway/src/company/company.service.ts
  src/api-gateway/src/company/dto/create-company.dto.ts
  src/api-gateway/src/company/dto/update-company.dto.ts
  src/api-gateway/src/employee/employee.service.ts
  src/api-gateway/src/employee/entities/employee.entity.ts
  src/api-gateway/src/job/job.controller.ts
  src/api-gateway/src/job/job.repository.ts
  src/api-gateway/src/job/job.service.ts
  src/api-gateway/src/role/entity/role.entity.ts
  src/api-gateway/src/role/role.repository.ts
  src/api-gateway/src/role/role.service.ts
  src/api-gateway/src/team/dto/create-team.dto.ts
  src/api-gateway/src/team/entities/team.entity.ts
  src/api-gateway/src/team/team.controller.ts
  src/api-gateway/src/team/team.service.ts
  src/api-gateway/src/users/dto/update-user.dto.ts
  src/api-gateway/src/users/dto/user-validation.dto.ts
  src/api-gateway/src/users/users.controller.ts
  src/api-gateway/src/users/users.repository.ts
  src/api-gateway/src/users/users.service.ts
  src/api-gateway/src/utils/Custom Validators/RegistrationNumber.ts
Labels: bug, Enhancement, backend

#296 Feature/job assignment view2
  src/frontend/src/components/home/NavigationBar.vue
  src/frontend/src/components/home/jobs/management/JobAssignmentTable.vue
Labels: Enhancement, frontend

#301 Feature/user settings
  src/frontend/src/components/home/UserAvatar.vue
  src/frontend/src/components/home/clients/management/EditClient.vue
  src/frontend/src/components/home/employees/management/AddEmployee.vue
  src/frontend/src/components/home/employees/management/EditEmployee.vue
  src/frontend/src/components/home/settings/user/UserPage.vue
  src/frontend/src/router/index.ts
  src/frontend/src/views/settings/UserSettings.vue
Labels: feature, frontend

#298 Refactor/employee
  src/api-gateway/src/employee/employee.repository.ts
  src/api-gateway/src/employee/employee.service.ts
  src/api-gateway/src/employee/entities/employee.entity.ts
  src/api-gateway/src/role/dto/create-role.dto.ts
  src/api-gateway/src/role/dto/update-role.dto.ts
  src/api-gateway/src/role/entity/role.entity.ts
  src/api-gateway/src/role/role.repository.ts
  src/api-gateway/src/role/role.service.ts
  src/api-gateway/src/team/dto/create-team.dto.ts
  src/api-gateway/src/team/dto/update-team.dto.ts
  src/api-gateway/src/team/entities/team.entity.ts
  src/api-gateway/src/team/team.controller.ts
  src/api-gateway/src/team/team.repository.ts
  src/api-gateway/src/team/team.service.ts
Labels: backend

#299 Company-Job-User Testing
  src/api-gateway/src/client/client.controller.ts
  src/api-gateway/src/client/client.repository.ts
  src/api-gateway/src/client/client.service.ts
  src/api-gateway/src/client/tests/client.controller.spec.ts
  src/api-gateway/src/client/tests/client.service.spec.ts
  src/api-gateway/src/company/company.controller.ts
  src/api-gateway/src/company/company.repository.ts
  src/api-gateway/src/company/tests/company.controller.spec.ts
  src/api-gateway/src/job/job.controller.ts
  src/api-gateway/src/job/tests/job.controller.spec.ts
  src/api-gateway/src/notification/tests/notification.controller.spec.ts
  src/api-gateway/src/users/tests/users.controller.spec.ts
  src/api-gateway/src/users/tests/users.service.spec.ts
  src/api-gateway/src/users/users.controller.ts
  src/api-gateway/src/users/users.repository.ts
  src/api-gateway/src/users/users.service.ts
Labels: backend

#306 Latest changes for the end of sprint 5
  src/frontend/src/components/home/NavigationBar.vue
  src/frontend/src/components/home/dashboard/home/Calendar.vue
  src/frontend/src/components/home/dashboard/types.ts
  src/frontend/src/components/home/jobs/management/BackLog.vue
  src/frontend/src/plugins/vuetify.ts
  src/frontend/src/router/index.ts
  src/frontend/src/views/home/jobs/BackLogView.vue
Labels: feature, frontend

#307 Feature/client employee view
  src/frontend/img/WhatsApp Image 2024-07-14 at 15.07.15_e3d0a53b.jpg
  src/frontend/src/assets/styles.css
  src/frontend/src/components/home/NavigationBar.vue
  src/frontend/src/components/home/clients/management/ClientDesk.vue
  src/frontend/src/components/home/clients/management/DeleteClient.vue
  src/frontend/src/components/home/clients/management/EditClient.vue
  src/frontend/src/components/home/dashboard/home/DashboardScreen.vue
  src/frontend/src/components/home/settings/company/CompanyMain.vue
  src/frontend/src/components/home/settings/company/CompanySettings.vue
  src/frontend/src/components/home/settings/company/EditCompany.vue
  src/frontend/src/components/home/settings/company/EditRoles.vue
  src/frontend/src/components/misc/LoadingScreen.vue
  src/frontend/src/components/signup/SplashScreen.vue
  src/frontend/src/plugins/vuetify.ts
Labels: Enhancement, feature, frontend

#309 Bakclog Page updated Kanban functionality
  src/frontend/src/components/home/employees/management/ManageEmployeesT.vue
  src/frontend/src/components/home/jobs/Kanban.vue
Labels: feature, UserStory, frontend

#310 Feature/user settings
  src/frontend/src/components/home/UserAvatar.vue
  src/frontend/src/components/home/settings/SettingsMenu.vue
  src/frontend/src/components/home/settings/user/Notifications.vue
  src/frontend/src/components/home/settings/user/UserPage.vue
  src/frontend/src/components/home/settings/user/UserProfileAvatar.vue
  src/frontend/src/components/home/settings/user/userPreferences.vue
  src/frontend/src/router/index.ts
  src/frontend/src/views/TestView.vue
  src/frontend/src/views/settings/NotificationSettings.vue
  src/frontend/src/views/settings/PreferenceSettings.vue
Labels: frontend

#311 Feature/file uploads
  README.md
  src/api-gateway/package.json
  src/api-gateway/src/app.module.ts
  src/api-gateway/src/client/client.module.ts
  src/api-gateway/src/client/client.service.ts
  src/api-gateway/src/company/company.controller.ts
  src/api-gateway/src/company/company.module.ts
  src/api-gateway/src/company/company.service.ts
  src/api-gateway/src/company/dto/create-company.dto.ts
  src/api-gateway/src/employee/employee.controller.ts
  src/api-gateway/src/employee/entities/employee.entity.ts
  src/api-gateway/src/file/cloudinary.provider.ts
  src/api-gateway/src/file/file.controller.ts
  src/api-gateway/src/file/file.module.ts
  src/api-gateway/src/file/file.service.ts
  src/api-gateway/src/file/tests/file.controller.spec.ts
  src/api-gateway/src/file/tests/file.service.spec.ts
  src/api-gateway/src/job/job.controller.ts
  src/api-gateway/src/job/job.module.ts
  src/api-gateway/src/job/job.service.ts
  src/api-gateway/src/main.ts
  src/api-gateway/src/role/entity/role.entity.ts
  src/api-gateway/src/role/role.controller.ts
  src/api-gateway/src/role/role.module.ts
  src/api-gateway/src/shared/dtos/api-response.dto.ts
  src/api-gateway/src/team/entities/team.entity.ts
  src/api-gateway/src/team/team.controller.ts
  src/api-gateway/src/users/dto/create-user.dto.ts
  src/api-gateway/src/users/entities/user.entity.ts
  src/api-gateway/src/users/users.controller.ts
  src/api-gateway/src/users/users.module.ts
  src/api-gateway/src/users/users.repository.ts
  src/api-gateway/src/users/users.service.ts
  src/api-gateway/src/utils/Custom Validators/Base64ContentIsImage.ts
Labels: Enhancement, feature, backend

#347 Fix signup and employees
  src/frontend/src/components/home/employees/management/AddEmployee.vue
  src/frontend/src/components/home/employees/management/DeleteEmployee.vue
  src/frontend/src/components/home/employees/management/EditEmployee.vue
  src/frontend/src/components/home/employees/management/EmployeeDetails.vue
  src/frontend/src/components/home/employees/management/ManageEmployeesT.vue
  src/frontend/src/components/home/employees/management/ManagerEditEmployee.vue
  src/frontend/src/components/home/employees/types.ts
  src/frontend/src/components/home/jobs/Kanban.vue
  src/frontend/src/components/home/jobs/management/AddJob.vue
  src/frontend/src/components/signup/RegisterCompanyModal.vue
  src/frontend/src/components/signup/SplashScreen.vue
  src/frontend/src/router/index.ts
  src/frontend/src/views/home/employees/ManagerEditEmployee.vue
Labels: feature, frontend

#348 Feature/backend testing employee
  src/api-gateway/src/employee/employee.repository.ts
  src/api-gateway/src/employee/employee.service.ts
  src/api-gateway/src/employee/tests/employee.controller.spec.ts
  src/api-gateway/src/employee/tests/employee.service.spec.ts
  src/api-gateway/src/role/role.controller.ts
  src/api-gateway/src/role/role.repository.ts
  src/api-gateway/src/role/role.service.ts
  src/api-gateway/src/role/tests/role.controller.spec.ts
  src/api-gateway/src/role/tests/role.service.spec.ts
  src/api-gateway/src/team/team.controller.ts
  src/api-gateway/src/team/tests/team.controller.spec.ts
  src/api-gateway/src/team/tests/team.service.spec.ts
Labels: backend

#349 refactor: update issues
  src/frontend/src/components/home/NavigationBar.vue
  src/frontend/src/components/home/UserAvatar.vue
  src/frontend/src/components/home/clients/management/ClientDesk.vue
  src/frontend/src/components/home/clients/management/ClientDetails.vue
  src/frontend/src/components/home/clients/management/DeleteClient.vue
  src/frontend/src/components/home/clients/management/EditClient.vue
  src/frontend/src/components/home/employees/management/AddEmployee.vue
  src/frontend/src/components/home/employees/management/DeleteEmployee.vue
  src/frontend/src/components/home/employees/management/EditEmployee.vue
  src/frontend/src/components/home/employees/management/ManageEmployeesT.vue
  src/frontend/src/components/home/inventory/AddInventory.vue
  src/frontend/src/components/home/inventory/DeleteInventory.vue
  src/frontend/src/components/home/inventory/EditInventory.vue
  src/frontend/src/components/home/inventory/InventoryDashboard.vue
  src/frontend/src/components/home/inventory/InventoryDetails.vue
  src/frontend/src/components/home/jobs/management/AddJob.vue
  src/frontend/src/components/home/jobs/management/JobAssignmentTable.vue
  src/frontend/src/components/home/settings/SettingsMenu.vue
  src/frontend/src/components/home/settings/company/CompanyMain.vue
  src/frontend/src/components/home/settings/company/CompanySettings.vue
  src/frontend/src/components/home/settings/company/EditCompany.vue
  src/frontend/src/components/home/settings/company/EditRoles.vue
  src/frontend/src/components/home/settings/company/EditStructure.vue
  src/frontend/src/components/home/settings/profile/ProfilePage.vue
  src/frontend/src/components/home/settings/user/Notifications.vue
  src/frontend/src/components/home/settings/user/UserPage.vue
  src/frontend/src/components/home/settings/user/UserProfileAvatar.vue
  src/frontend/src/components/home/settings/user/userPreferences.vue
  src/frontend/src/components/signup/RegisterCompanyModal.vue
  src/frontend/src/components/signup/SplashScreen.vue
  src/frontend/src/views/TestView.vue
  src/frontend/src/views/home/dashboard/StatisticView.vue
Labels: frontend

#352 Feature/inventory
  src/api-gateway/src/app.module.ts
  src/api-gateway/src/inventory/dto/create-inventory.dto.ts
  src/api-gateway/src/inventory/dto/update-inventory.dto.ts
  src/api-gateway/src/inventory/entities/inventory.entity.ts
  src/api-gateway/src/inventory/inventory.controller.ts
  src/api-gateway/src/inventory/inventory.module.ts
  src/api-gateway/src/inventory/inventory.repository.ts
  src/api-gateway/src/inventory/inventory.service.ts
Labels: backend

#355 Feature/client employee view
  src/frontend/package.json
  src/frontend/src/components/home/NavigationBar.vue
  src/frontend/src/components/home/clients/management/AddClient.vue
  src/frontend/src/components/home/clients/management/ClientDesk.vue
  src/frontend/src/components/home/clients/management/ClientDetails.vue
  src/frontend/src/components/home/clients/management/DeleteClient.vue
  src/frontend/src/components/home/clients/management/EditClient.vue
  src/frontend/src/components/home/dashboard/home/DashboardScreen.vue
  src/frontend/src/components/home/employees/management/ManageEmployeesT.vue
  src/frontend/src/components/home/help/support/Support.vue
  src/frontend/src/components/home/inventory/AddInventory.vue
  src/frontend/src/components/home/inventory/DeleteInventory.vue
  src/frontend/src/components/home/inventory/EditInventory.vue
  src/frontend/src/components/home/inventory/InventoryDashboard.vue
  src/frontend/src/components/home/inventory/InventoryDetails.vue
  src/frontend/src/components/home/jobs/management/JobAssignmentTable.vue
  src/frontend/src/components/home/settings/company/CompanySettings.vue
  src/frontend/src/components/home/settings/company/EditRoles.vue
  src/frontend/src/components/home/settings/user/UserPage.vue
  src/frontend/src/components/home/statistics/StatisticsDashboard.vue
  src/frontend/src/plugins/vuetify.ts
  src/frontend/src/router/index.ts
  src/frontend/src/views/home/inventory/InventoryView.vue
Labels: Enhancement, feature, frontend

#357 Original Kanban
  src/frontend/src/components/home/dashboard/home/Calendar.vue
  src/frontend/src/components/home/help/support/Support.vue
  src/frontend/src/components/home/jobs/KanbanV2/KanbanV2.vue
  src/frontend/src/components/home/jobs/management/BackLog.vue
  src/frontend/src/components/home/jobs/types.ts
  src/frontend/src/plugins/vuetify.ts
  src/frontend/src/router/index.ts
Labels: feature, UserStory, frontend

#358 feature/join-request-system
  src/api-gateway/package.json
  src/api-gateway/src/admin/admin.controller.ts
  src/api-gateway/src/admin/admin.module.ts
  src/api-gateway/src/admin/admin.repository.ts
  src/api-gateway/src/admin/admin.service.ts
  src/api-gateway/src/admin/dto/request.dto.ts
  src/api-gateway/src/admin/entities/request-to-join.entity.ts
  src/api-gateway/src/admin/tests/admin.controller.spec.ts
  src/api-gateway/src/admin/tests/admin.service.spec.ts
  src/api-gateway/src/app.module.ts
  src/api-gateway/src/client/client.module.ts
  src/api-gateway/src/client/client.service.ts
  src/api-gateway/src/client/dto/accept-request.dto.ts
  src/api-gateway/src/client/entities/client.entity.ts
  src/api-gateway/src/company/company.service.ts
  src/api-gateway/src/company/entities/company.entity.ts
  src/api-gateway/src/email/email.service.ts
  src/api-gateway/src/employee/employee.module.ts
  src/api-gateway/src/job/entities/job.entity.ts
  src/api-gateway/src/job/job.controller.ts
  src/api-gateway/src/job/job.repository.ts
  src/api-gateway/src/job/job.service.ts
  src/api-gateway/src/notification/notification.module.ts
  src/api-gateway/src/notification/notification.service.ts
  src/api-gateway/src/role/role.module.ts
  src/api-gateway/src/shared/soft-delete.ts
  src/api-gateway/src/team/team.module.ts
  src/api-gateway/src/users/dto/create-user-request.dto.ts
  src/api-gateway/src/users/dto/request-to-join.dto.ts
  src/api-gateway/src/users/tests/users.controller.spec.ts
  src/api-gateway/src/users/users.controller.ts
  src/api-gateway/src/users/users.service.ts
  src/api-gateway/src/utils/Utils.ts
  src/api-gateway/tsconfig.json
  src/frontend/src/components/home/employees/management/EditEmployee.vue
Labels: Enhancement, feature, backend

#377 Refactor of Employee Management
  src/frontend/src/components/home/employees/__tests__/ManageEmployeesT.ts
  src/frontend/src/components/home/employees/management/EditEmployee.vue
  src/frontend/src/components/home/employees/management/ManageEmployees.vue
  src/frontend/src/components/home/employees/types.ts
  src/frontend/src/components/home/jobs/management/AddJob.vue
  src/frontend/src/components/signup/SplashScreen.vue
  src/frontend/src/router/index.ts
  src/frontend/src/views/home/employees/ManageEmployees.vue
Labels: Enhancement, feature, frontend

#381 hotfix/joinedCompany-invalid-type
  src/api-gateway/src/company/company.service.ts
  src/api-gateway/src/users/users.repository.ts
  src/api-gateway/src/users/users.service.ts
Labels: bug

#385 Refactor/employee
  src/api-gateway/src/employee/dto/update-employee.dto.ts
  src/api-gateway/src/employee/employee.controller.ts
  src/api-gateway/src/employee/employee.repository.ts
  src/api-gateway/src/employee/employee.service.ts
  src/api-gateway/src/employee/entities/employee.entity.ts
  src/api-gateway/src/employee/tests/employee.controller.spec.ts
  src/api-gateway/src/employee/tests/employee.service.spec.ts
  src/api-gateway/src/inventory/inventory.controller.ts
  src/api-gateway/src/inventory/inventory.repository.ts
  src/api-gateway/src/inventory/inventory.service.ts
  src/api-gateway/src/inventory/tests/inventory.controller.spec.ts
  src/api-gateway/src/inventory/tests/inventory.service.spec.ts
  src/api-gateway/src/role/role.controller.ts
  src/api-gateway/src/role/role.repository.ts
  src/api-gateway/src/role/role.service.ts
  src/api-gateway/src/role/tests/role.controller.spec.ts
  src/api-gateway/src/role/tests/role.service.spec.ts
  src/api-gateway/src/team/team.controller.ts
  src/api-gateway/src/team/team.repository.ts
  src/api-gateway/src/team/team.service.ts
  src/api-gateway/src/team/tests/team.controller.spec.ts
  src/api-gateway/src/team/tests/team.service.spec.ts
Labels: backend

#389 Feature/client employee view
  src/frontend/package.json
  src/frontend/src/components/home/NavigationBar.vue
  src/frontend/src/components/home/clients/management/ActionsMenu.vue
  src/frontend/src/components/home/clients/management/AddClient.vue
  src/frontend/src/components/home/clients/management/ClientDesk.vue
  src/frontend/src/components/home/clients/management/ClientDetails.vue
  src/frontend/src/components/home/clients/management/DeleteClient.vue
  src/frontend/src/components/home/clients/management/EditClient.vue
  src/frontend/src/components/home/dashboard/home/DashboardScreen.vue
  src/frontend/src/components/home/employees/management/AddEmployee.vue
  src/frontend/src/components/home/employees/management/DeleteEmployee.vue
  src/frontend/src/components/home/employees/management/EditEmployee.vue
  src/frontend/src/components/home/employees/management/EmployeeDetails.vue
  src/frontend/src/components/home/employees/management/ManageEmployees.vue
  src/frontend/src/components/home/inventory/AddInventory.vue
  src/frontend/src/components/home/inventory/DeleteInventory.vue
  src/frontend/src/components/home/inventory/EditInventory.vue
  src/frontend/src/components/home/inventory/InventoryDashboard.vue
  src/frontend/src/components/home/inventory/InventoryDetails.vue
  src/frontend/src/components/home/jobs/management/JobAssignmentTable.vue
  src/frontend/src/components/home/jobs/management/ManagerJobCard.vue
  src/frontend/src/components/home/notifications/NotificationsPage.vue
  src/frontend/src/components/home/settings/company/CompanyMain.vue
  src/frontend/src/components/home/settings/company/CompanySettings.vue
  src/frontend/src/components/home/settings/company/EditCompany.vue
  src/frontend/src/components/home/settings/company/EditRoles.vue
  src/frontend/src/components/home/settings/company/EditStructure.vue
  src/frontend/src/components/home/statistics/StatisticsDashboard.vue
  src/frontend/src/components/signup/SplashScreen.vue
  src/frontend/src/main.ts
  src/frontend/src/plugins/vuetify.ts
  src/frontend/src/router/index.ts
  src/frontend/src/views/notfications/NotificationView.vue
Labels: feature, frontend

#390 Feature/client employee view
  src/frontend/src/components/home/notifications/NotificationsPage.vue
Labels: feature, frontend

#391 Feature/job improvement v2
  src/api-gateway/package.json
  src/api-gateway/src/admin/admin.repository.ts
  src/api-gateway/src/client/client.controller.ts
  src/api-gateway/src/client/client.module.ts
  src/api-gateway/src/client/client.service.ts
  src/api-gateway/src/client/dto/create-client.dto.ts
  src/api-gateway/src/client/dto/delete-client.dto.ts
  src/api-gateway/src/client/tests/client.controller.spec.ts
  src/api-gateway/src/company/company.controller.ts
  src/api-gateway/src/company/company.module.ts
  src/api-gateway/src/company/company.repository.ts
  src/api-gateway/src/company/company.service.ts
  src/api-gateway/src/company/dto/create-company.dto.ts
  src/api-gateway/src/company/dto/update-company.dto.ts
  src/api-gateway/src/company/entities/company.entity.ts
  src/api-gateway/src/company/tests/company.controller.spec.ts
  src/api-gateway/src/job/dto/assign-job.dto.ts
  src/api-gateway/src/job/dto/create-job.dto.ts
  src/api-gateway/src/job/dto/create-tag.dto.ts
  src/api-gateway/src/job/dto/edit-tag.dto.ts
  src/api-gateway/src/job/dto/job-responses.dto.ts
  src/api-gateway/src/job/dto/update-job.dto.ts
  src/api-gateway/src/job/entities/job-tag.entity.ts
  src/api-gateway/src/job/entities/job.entity.ts
  src/api-gateway/src/job/job-tag.repository.ts
  src/api-gateway/src/job/job.controller.ts
  src/api-gateway/src/job/job.module.ts
  src/api-gateway/src/job/job.repository.ts
  src/api-gateway/src/job/job.service.ts
  src/api-gateway/src/job/tests/job.controller.spec.ts
  src/api-gateway/src/notification/fcm-notification.controller.ts
  src/api-gateway/src/notification/fcm-notification.service.ts
  src/api-gateway/src/notification/notification.controller.ts
  src/api-gateway/src/notification/notification.module.ts
  src/api-gateway/src/notification/notification.repository.ts
  src/api-gateway/src/notification/notification.service.ts
  src/api-gateway/src/users/entities/user.entity.ts
  src/api-gateway/src/users/users.service.ts
  src/api-gateway/src/utils/Utils.ts
  src/frontend/src/main.ts
Labels: bug, Enhancement, feature, backend

#399 Feature/job assignment view2
  .gitignore
  package.json
  src/frontend/package.json
  src/frontend/src/assets/images/profile/avatar.jpg
  src/frontend/src/components/home/UserAvatar.vue
  src/frontend/src/components/home/jobs/management/AddComments.vue
  src/frontend/src/components/home/jobs/management/AddJob.vue
  src/frontend/src/components/home/jobs/management/AttachImages.vue
  src/frontend/src/components/home/jobs/management/ChangeClientDialog.vue
  src/frontend/src/components/home/jobs/management/EditDetailsJobCard.vue
  src/frontend/src/components/home/jobs/management/JobChecklist.vue
  src/frontend/src/components/home/jobs/management/JobNotes.vue
  src/frontend/src/components/home/jobs/management/LogInventory.vue
  src/frontend/src/components/home/jobs/management/ManagerJobCard.vue
  src/frontend/src/components/home/jobs/management/SelectMembers.vue
  src/frontend/src/components/home/jobs/management/TeamMemberList.vue
  src/frontend/src/components/home/jobs/management/UpdateDateDialog.vue
  src/frontend/src/components/home/jobs/management/UpdateJobStatus.vue
  src/frontend/src/components/home/settings/SettingsMenu.vue
  src/frontend/src/components/home/settings/company/ManageCompanies.vue
  src/frontend/src/components/home/settings/user/Notifications.vue
  src/frontend/src/components/home/settings/user/UserPage.vue
  src/frontend/src/components/home/settings/user/UserProfileAvatar.vue
  src/frontend/src/components/home/settings/user/__tests__/Notfications.cy.ts
  src/frontend/src/components/home/settings/user/__tests__/UserPage.cy.ts
  src/frontend/src/components/home/settings/user/__tests__/UserProfileAvatar.cy.ts
  src/frontend/src/router/index.ts
  src/frontend/src/views/home/jobs/ManagerJobAssignmentView.vue
  src/frontend/src/views/settings/ManageCompanies.vue
Labels: frontend
