Repository COS301-SE-2024/WorkWise-Central, pull requests merged in 2024-10, with the labels that each got.

#719 update: fix the jobs that are retrieved from the database for a specific employee relative to a job
  src/frontend/src/components/home/dashboard/home/Calendar.vue
  src/frontend/src/components/home/jobs/KanbanV2/KanbanV2.vue
Labels: bug, frontend, integration

#720 Refactor/system refactor version2
  src/api-gateway/src/employee/employee.controller.ts
  src/api-gateway/src/employee/employee.repository.ts
  src/api-gateway/src/employee/employee.service.ts
  src/api-gateway/src/invoices/invoice.service.ts
  src/api-gateway/src/role/dto/create-role.dto.ts
  src/api-gateway/src/role/entity/role.entity.ts
  src/api-gateway/src/role/role.controller.ts
  src/api-gateway/src/role/role.service.ts
  src/api-gateway/src/stats/stats.service.ts
  src/api-gateway/src/stockmovements/stockmovements.controller.ts
  src/api-gateway/src/team/team.controller.ts
  src/api-gateway/src/team/team.repository.ts
  src/api-gateway/src/team/team.service.ts
  src/frontend/src/components/home/NavigationBar.vue
  src/frontend/src/components/home/clients/__tests__/AddClient.cy.ts
  src/frontend/src/components/home/clients/__tests__/ClientPortal.cy.ts
  src/frontend/src/components/home/employees/__tests__/AddEmp.cy.ts
  src/frontend/src/components/home/employees/management/DeleteEmployee.vue
  src/frontend/src/components/home/employees/management/ManageEmployees.vue
  src/frontend/src/components/home/inventory/management/StockTakeManagement.vue
  src/frontend/src/components/home/invoices/EditInvoice.vue
  src/frontend/src/components/home/invoices/InvoiceDashboard.vue
  src/frontend/src/components/home/invoices/SendInvoice.vue
  src/frontend/src/components/home/invoices/ViewInvoices.vue
  src/frontend/src/components/home/jobs/__tests__/JobChecklist.cy.ts
  src/frontend/src/components/home/jobs/management/GenerateInvoice.vue
  src/frontend/src/components/home/jobs/management/ViewJob.vue
  src/frontend/src/components/home/notifications/__tests__/MessageBoard.cy.ts
  src/frontend/src/components/home/notifications/appointments/VideoConferencing.vue
  src/frontend/src/components/home/notifications/management/NotificationsPage.vue
  src/frontend/src/components/home/settings/company/EditRoles.vue
  src/frontend/src/components/home/settings/company/EditStructure.vue
  src/frontend/src/components/home/statistics/ClientBreakdown.vue
  src/frontend/src/components/home/statistics/EmployeeBreakdown.vue
  src/frontend/src/components/home/statistics/InventoryBreakdown.vue
  src/frontend/src/components/home/statistics/InvoiceBreakdown.vue
  src/frontend/src/components/home/teams/management/CreateTeam.vue
  src/frontend/src/components/home/teams/management/TeamsDashboard.vue
  src/frontend/src/components/home/teams/management/UpdateTeam.vue
  src/frontend/src/components/misc/NoAccess.vue
  src/frontend/src/views/home/map/Map.vue
Labels: frontend, backend

#721 Refactor/frontend pt8
  src/frontend/src/components/home/chat/ChatSideBar.vue
  src/frontend/src/components/home/clients/management/DeleteClient.vue
  src/frontend/src/components/home/clients/management/EditClient.vue
  src/frontend/src/components/home/employees/management/EditEmployee.vue
  src/frontend/src/components/home/employees/management/ManageEmployees.vue
  src/frontend/src/components/home/inventory/management/AddInventory.vue
  src/frontend/src/components/home/inventory/management/DeleteInventory.vue
  src/frontend/src/components/home/inventory/management/EditInventory.vue
  src/frontend/src/components/home/inventory/management/InventoryDashboard.vue
  src/frontend/src/components/home/inventory/management/StockTakeManagement.vue
  src/frontend/src/components/home/invoices/DeleteInvoice.vue
  src/frontend/src/components/home/invoices/InvoiceDashboard.vue
  src/frontend/src/components/home/invoices/SendInvoice.vue
  src/frontend/src/components/home/jobs/management/AddJob.vue
  src/frontend/src/components/home/settings/company/CreatePriority.vue
  src/frontend/src/components/home/settings/company/CreateTags.vue
  src/frontend/src/components/home/settings/company/EditCompany.vue
  src/frontend/src/components/home/settings/company/EditRoles.vue
  src/frontend/src/components/home/settings/company/EditStructure.vue
  src/frontend/src/components/home/statistics/StatisticsDashboard.vue
  src/frontend/src/components/home/teams/management/CreateTeam.vue
  src/frontend/src/components/home/teams/management/TeamsDashboard.vue
  src/frontend/src/router/index.ts
Labels: Enhancement, feature, frontend

#724 hotfix: null checks added to update invoices
  src/api-gateway/src/invoices/invoice.service.ts
Labels: backend

#731 hotfix/kanban-plus-button
  src/frontend/src/components/home/jobs/KanbanV2/KanbanV2.vue
Labels: bug, Enhancement, frontend

#732 updated changes to the frontend for the edit invoice
  src/frontend/src/components/home/clients/management/ClientDesk.vue
  src/frontend/src/components/home/inventory/management/InventoryDashboard.vue
  src/frontend/src/components/home/inventory/reports/InventoryReports.vue
  src/frontend/src/components/home/invoices/EditInvoice.vue
  src/frontend/src/components/home/invoices/InvoiceDashboard.vue
  src/frontend/src/components/home/settings/company/HourlyRate.vue
Labels: Enhancement, frontend

#736 hotfix/thando
  src/frontend/src/components/home/jobs/management/AddComments.vue
  src/frontend/src/components/home/jobs/management/AddJob.vue
  src/frontend/src/components/home/jobs/management/AssignTeam.vue
  src/frontend/src/components/home/jobs/management/CheckOffItems.vue
  src/frontend/src/components/home/jobs/management/GenerateInvoice.vue
  src/frontend/src/components/home/jobs/management/GetJobImages.vue
  src/frontend/src/components/home/jobs/management/JobAssignmentTable.vue
  src/frontend/src/components/home/jobs/management/JobHistory.vue
  src/frontend/src/components/home/jobs/management/JobTags.vue
  src/frontend/src/components/home/jobs/management/JobTimeTracker.vue
  src/frontend/src/components/home/jobs/management/LogJobInventory.vue
  src/frontend/src/components/home/jobs/management/ManagerJobCard.vue
  src/frontend/src/components/home/jobs/management/ViewJob.vue
Labels: bug

#734 hotfix/kanban-plus-button
  src/api-gateway/src/job/job.service.ts
  src/frontend/package.json
  src/frontend/src/components/home/clients/management/AddClient.vue
  src/frontend/src/components/home/dashboard/home/Calendar.vue
  src/frontend/src/components/home/employees/management/AddEmployee.vue
  src/frontend/src/components/home/employees/management/EditEmployee.vue
  src/frontend/src/components/home/jobs/KanbanV2/KanbanV2.vue
  src/frontend/src/components/home/jobs/management/AddJob.vue
  src/frontend/src/components/home/jobs/management/ViewJob.vue
Labels: Enhancement, feature, frontend

#737 Feature/project day fixes
  src/api-gateway/package.json
  src/api-gateway/src/inventory/inventory.controller.ts
  src/api-gateway/src/invoices/invoice.service.ts
  src/api-gateway/src/payfast/payfast.controller.ts
  src/api-gateway/src/payfast/payfast.service.ts
  src/api-gateway/src/video-call/video-call.service.ts
  src/frontend/src/components/home/NavigationBar.vue
  src/frontend/src/components/home/clients/client_portal/ClientPortal.vue
  src/frontend/src/components/home/clients/client_portal/PaymentPortal.vue
  src/frontend/src/components/home/clients/client_portal/ReviewJob.vue
  src/frontend/src/components/home/clients/client_portal/ViewJobs.vue
  src/frontend/src/components/home/clients/management/ClientDesk.vue
  src/frontend/src/components/home/employees/management/ManageEmployees.vue
  src/frontend/src/components/home/inventory/management/InventoryDashboard.vue
  src/frontend/src/components/home/inventory/management/StockTakeManagement.vue
  src/frontend/src/components/home/inventory/reports/InventoryReports.vue
  src/frontend/src/components/home/invoices/EditInvoice.vue
  src/frontend/src/components/home/invoices/InvoiceDashboard.vue
  src/frontend/src/components/home/jobs/KanbanV2/Archive.vue
  src/frontend/src/components/home/jobs/KanbanV2/KanbanV2.vue
  src/frontend/src/components/home/jobs/management/JobAssignmentTable.vue
  src/frontend/src/components/home/notifications/appointments/AppointmentsPage.vue
  src/frontend/src/components/home/notifications/appointments/VideoConferencing.vue
  src/frontend/src/components/home/settings/company/CompanyRequest.vue
  src/frontend/src/components/home/settings/company/EditPriority.vue
  src/frontend/src/components/home/settings/company/EditRoles.vue
  src/frontend/src/components/home/settings/company/EditStatus.vue
  src/frontend/src/components/home/settings/company/EditTags.vue
  src/frontend/src/components/home/settings/company/HourlyRate.vue
  src/frontend/src/components/home/settings/company/ManageCompanies.vue
  src/frontend/src/components/home/settings/user/InvitePage.vue
  src/frontend/src/components/home/statistics/EmployeeBreakdown.vue
  src/frontend/src/components/home/statistics/InvoiceBreakdown.vue
  src/frontend/src/components/home/teams/management/TeamsDashboard.vue
  src/frontend/src/components/signup/SplashScreen.vue
Labels: frontend, backend
